* {
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: calc(100vh - 60px);
  overflow: hidden;
  margin: 0;
  background: black;
}

#background, #foreground {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
}

.ui {
  position: absolute;
  top: calc(100vh - 60px);
  height: 60px;
  width: 100vw;
  background: lightgray;
}

.messageBoard {
  position: absolute;
  top: calc(100vh - 200px);
  height: 100px;
  width: 50%;
  min-width: 400px;
  max-width: 900px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Dosis', sans-serif;

  &::-webkit-scrollbar {
    width: 12px;
    background: rgba(255, 255, 255, 0.4);
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.6);
  }

  p {
    margin-top: 0;
    margin-bottom: 0.2em;
  }
}